@charset "utf-8";
/* CSS Document */


#gameboard{ /*Size of the entire gameboard*/	
	 width:400px;
	 height:auto;
	 margin:auto;
         clear: left;
        
}
#errors{
    margin-left: 5px;
        
}

span div{
	border: solid medium;	
}

/*----- Squaring off the outside borders ----*/
.col_1{
   border-left-width: 10px;     
}
.col_9{
    border-right-width: 10px;
}
#row_1 div{
    border-top-width: 10px;    
}
#row_9 div{
    border-bottom-width: 10px;  
}
/*-----------------*/


/* Making the 3x3 Areas */
.col_3,.col_6{
    border-right-width: 10px;    
}
#row_3 div,#row_6 div{
    border-bottom-width: 10px; 
    
}
/*---------------*/

#row_1 div,#row_2 div,#row_4 div,#row_5 div,#row_7 div,#row_8 div{/*Controls the lines inside the 3x3 area*/
    border-bottom-width: thin;     
}

#row_1,#row_2,#row_3,#row_4,#row_5,#row_6,#row_7,#row_8,#row_9{ /* sets the size of the rows */
	 width: 500px;
	 height: 40px;	 
	 clear:both;
	 position:static;
	
}

#row_1 div,#row_2 div,#row_3 div,#row_4 div,#row_5 div,#row_6 div,#row_7 div,#row_8 div,#row_9 div { /*Size of the 81 boxes*/	
	
	width: 35px;
	height: 35px;	
	float: left;
	margin-left: -1px;
	margin-top: -1px;  
        text-align:center;       
        
}
.hidden{
    width:30px;
    height: 10px;
    text-align: center;
    border:hidden; 
    border-bottom-width: 20px;  
    
}
